@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=News+Cycle:wght@400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /* Cores */
    --primaryColor: #A9A9A9;
    --secondaryColor: #808080;
    --tertiaryColor: #1C1C1C;

    /* Fontes */
    --primaryFont: "Exo 2", serif;
    --secondaryFont: "Montserrat Alternates", serif;
    --tertiaryFont: "News Cycle", serif;
}